# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/vendor
logs
micro-mall-shop-cron
etc/app.ini
micro-mall-shop-cron.pid
micro-mall-shop-cron-darwin-amd64
micro-mall-shop-cron-linux-amd64
micro-mall-shop-cron-windows-amd64.exe
micro-mall-shop-cron-windows-amd64
nohup.out